<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5 d-flex align navbar-custom">
        <a class="navbar-brand" routerLink="/home" (click)="cerrarSesion()"><img src="../../../assets/logo_casa.png" style="max-height: 2.2em;" alt="Home"></a>
        <p class="my-auto align-items-center" style="font-size: 22px;">MicroBlogging</p>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav my-2 my-lg-0">
                <li class="nav-item"><a class="btn btn-primary" routerLink="/login" style="color: #ffff; font-size: 20px;">Inicia sesión</a></li>
            </ul>
        </div>
    </div>
</nav>
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Microblogging: donde cada palabra cuenta.</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5" style="font-size: 20px;">Crea una cuenta y conocé las publicaciones de tus amigos.</p>
                <a class="btn btn-primary btn-lg" routerLink="register">Registrarse</a>
            </div>
        </div>
    </div>
  </header>
  <section class="bg-primary" style="padding: 8rem 0;" id="horarios">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center align-items-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Descubre el poder del microblogging</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-3" style="font-size: 22px;">🚀 Explora y comparte ideas en tiempo real.</p>
                <p class="text-white-75 mb-3" style="font-size: 22px;">📢 Amplifica tu voz y conecta con una audiencia global.</p>
                <p class="text-white-75 mb-3" style="font-size: 22px;">📱 Sigue tendencias, noticias y eventos en tiempo real.</p>
                <p class="text-white-75 mb-3" style="font-size: 22px;">🤝 Construye relaciones y colabora con otros usuarios.</p>
                <p class="text-white-75 mb-3" style="font-size: 22px;">🔍 Descubre nuevas perspectivas y puntos de vista.</p>
                <a class="btn btn-light btn-lg mt-5" (click)="scrollToSobreNosotros()">Sobre Nosotros</a>
            </div>
        </div>
    </div>
  </section>
  <section id="sobrenosotros" class="" style="padding: 8rem 0 ;">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Sobre Nosotros</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Nuestra historia</h3>
                    <p class="text-muted mb-0" style="font-size: 20px;">En Microblogging evolucionamos constantemente para brindarte
                        la mejor experiencia sin contratiempos.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Contactanos</h3>
                    <p class="text-muted mb-0" style="font-size: 20px;">Puedes contactarnos por nuestras redes sociales, a través de nuestro
                        whatsapp (o llamada). <br>+54 261 12312132</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mx-auto text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Síguenos</h3>
                    <p class="text-muted mb-0" style="font-size: 20px;">Siguenos en nuestras redes sociales para enterarte de novedades,
                        actualizaciones y mucho más</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <app-footer></app-footer>
  
